extends ../layouts/main_layout.jade

block title
  title Basis Elemens

block content
  section.section.section__one(data-section="css")
    h2.section__title
      | CSS
    .tabbed
      +tabs(["Эффекты", "Анимации", "Слайдер, Аккордион", "Трехмерный куб"],"radio", "radio-input", "tab-nav", "tabs")
      .tabs__container.clearfix
        .tabs.tabs__0
          h2.tabs__title 
            | Эффекты
          .field-wrap
            input.field#field
            label(for="field").field-label
              span.label-text
                | Type your text
          .preview
            img(src="img/exmpl.jpg")
            .mask
              h2.mask__title
                | Zoom and Rotate effect
              p.mask__content
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              a(href="#").mask__link
                | Read more
          .custom-select
            a(href="#").main-select
              i.fa.fa-share-alt
            ul.custom-select__list.clearfix
              li.custom-select__item.custom-select__item-1
                i.fa.fa-github
              li.custom-select__item.custom-select__item-2
                i.fa.fa-vk
              li.custom-select__item.custom-select__item-3
                i.fa.fa-twitter
              li.custom-select__item.custom-select__item-4
                i.fa.fa-skype  
              li.custom-select__item.custom-select__item-5
                i.fa.fa-slack
              li.custom-select__item.custom-select__item-6
                i.fa.fa-facebook
              li.custom-select__item.custom-select__item-7
                i.fa.fa-codepen
              li.custom-select__item.custom-select__item-8
                i.fa.fa-reddit
          .other-nav
            ul.other-nav__list
              a.other-nav__link.other-nav__link-1(href="#")
                  | Home
              a.other-nav__link.other-nav__link-2(href="#")
                  | Gallery
              a.other-nav__link.other-nav__link-3(href="#")
                  | News
              a.other-nav__link.other-nav__link-4(href="#")
                  | Contacts
              .other-nav__effect
        .tabs.tabs__1
          h2.tabs__title
            | Анимация
          .square
        .tabs.tabs__2
          h2.tabs__title
            | Слайдер, Аккордион
        .tabs.tabs__3
          h2.tabs__title
            | Трехмерный куб
          .cube-wrapper
            .cube#cube
              .side#side-1
                | LEFT
              .side#side-2
                | RIGHT
              .side#side-3
                | TOP
              .side#side-4
                | BOTTOM
              .side#side-5
                | BACK
              .side#side-6
                | FRONT
  section.section.section__two(data-section="jquery")
    h2.section__title
      | jQuery
    
    .block__tags-cloud
      h3.block__title
        | Облако тегов
      .tags
        +tags_link(["CSS", "HTML", "JS", "jQuery", "AngularJS", "SVG", "CoffeScript", "PHP", "Ember"],"tags__link")
  section.section.section__three(data-section="packs")
    h2.section__title
      | Packs
