footer.page-footer
	div.footer-wrapper
		//- div.copyright
		//- div.socials
		//- 	ul.footer__socials-list
		//- 		- var items = {'vk' : 'Vkontakte', 'bh' : 'Behance', 'tw' : 'Twitter'}
		//- 		each key, value in items
		//- 			li.footer__socials-item
		//- 				a(href='#' class="footer__socials-link footer__socials-link_" + value)=key

<!-- build:js js/vendor.js --> 
//- bower:js
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
//- endbower  
<!-- endbuild --> 

<!-- build:js js/main.js --> 
script(src="js/main.js")
<!-- endbuild --> 
