header.page-header
	nav.nav
		ul.nav__list.clearfix
			li.nav__item
				a.nav__item_link(href="#css")
					| CSS
			li.nav__item
				a.nav__item_link(href="#jquery")
					| jQuery
			li.nav__item
				a.nav__item_link(href="#coffeescript")
					| CoffeScript
			li.nav__item
				a.nav__item_link(href="#packs")
					| Packs
					
		
