head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
  
  meta(name="description", content="Basis front-end elements")
  meta(name="keywords", content="frontend trics")
  meta(name="author", content="Emma Khayrullina") 

  link(rel='shortcut icon', href='/favicon.ico', type="image/x-icon")
  link(rel='icon', href='/favicon.ico', type="image/x-icon")
  
  <!-- build:css css/vendor.min.css -->
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
  <!-- endbuild -->
  
  <!-- build:css fonts/fonts.min.css -->
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
  <!-- endbuild -->

  <!-- build:css css/main.min.css -->
  link(rel="stylesheet", href="css/main.css") 
  <!-- endbuild -->

  <!-- build:js js/modernizr.min.js -->
  script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
  <!-- endbuild -->
